@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Firmbee.com - Free Project Management Platform for remote teams">
    <meta name="author" content="Firmbee.com - Free Project Management Platform for remote teams">
    <title>Güçlü Gelecek</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e035b9984.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0e035b9984.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/JobApplicationTemplate/css/main.css">
</head>

<body>

    <nav class="navbar navbar-expand-xl fixed-top nav-bg">
        <div class="container">
            <a style="font-weight:bold;font-size:xx-large;" class="navbar-brand" href="/Home/Index/">GüçlüGelecek</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-card-item">
                        <a class="nav-link  " href="/Home/Index/">Ana Sayfa</a>
                    </li>
                    <li class="nav-card-item">
                        <a class="nav-link " href="/Home/About/">Hakkımızda</a>
                    </li>
                    <li class="nav-card-item">
                        <a class="nav-link " href="/Home/Contact/">İletişim</a>
                    </li>
                    <li class="nav-card-item">
                        <a class="nav-link " href="/Home/Blog/">Blog</a>
                    </li>
                </ul>
                <ul class="right navbar-nav ms-auto">
                    <li style="margin-right: 10px" class="nav-card-item-right create-account">
                        <a class="nav-link" href="/Login/JobSeekerLogin/">İş Arayan</a>
                    </li>
                    <li class="nav-card-item-right create-account">
                        <a class="nav-link" href="/Login/EmployerLogin/">İş Veren</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="container text-center text-md-start">
            <div class="footer-wrap">

                <div class="about">
                    <h6 class="fw-bold">Güçlü Gelecek</h6>
                    <p>
                        @*class="text-muted py-4"*@
                        Hayatlarını yeniden kurmak isteyen depremzeler için iş fırsatlarını bir araya getiren GüçlüGelecek.net hoş geldiniz!
                        Siz de bu platformda yeni başlangıçlar için adım atabilirsiniz.
                    </p>
                    <div class="social-media">
                        <a href="#" class="me-2 text-reset"><img src="~/JobApplicationTemplate/img/icon/facebook-icon.svg" alt=""></a>
                        <a href="#" class="me-2 text-reset"><img src="~/JobApplicationTemplate/img/icon/twitter-icon.svg" alt=""></a>
                        <a href="#" class="me-2 text-reset"><img src="~/JobApplicationTemplate/img/icon/linkedin-icon.svg" alt=""></a>
                        <a href="#" class="me-2 text-reset"><img src="~/JobApplicationTemplate/img/icon/instagram-icon.svg" alt=""></a>
                    </div>
                </div>

                <div class="company">
                    <h6 class="fw-bold">Güçlü Gelecek</h6>
                    <p><a href="/Home/Index/">Ana Sayfa</a></p>
                    <p><a href="/Home/About/">Hakkımızda</a></p>
                    <p><a href="/Home/Contact/">İletişim</a></p>
                    <p><a href="/Home/Blog/">Blog</a></p>
                    <p><a href="/Login/JobSeekerLogin/">İş Arayan Giriş</a></p>
                    <p><a href="/Login/EmployerLogin/">İş Veren Giriş</a></p>
                </div>

                <div class="newsletter">
                    <h6 class="fw-bold">Güçlü Gelecek</h6>
                    <p class="text-muted">
                        Kayıt olun ve sizde iş aramaya başlayın.
                    </p>
                    <a href="/Register/JobSeeker/" class="main-btn">Kayıt Ol</a>
                </div>

            </div>
            <div class="copyright">
                <p style="text-align:center">2023 | GÜCLÜGELECEK | TÜM HAKLARI SAKLIDIR</p>
            </div>
        </div>

    </footer>

    <script src="~/JobApplicationTemplate/js/nav-bg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>