@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<main>
    <div class="main">
        <div class="container">
            <div class="row">
                <h1>Güclü Gelecek | <span class="green">2023</span></h1>

                <div class="aboutus col-lg-6">
                    <h4 style="margin-top:0px">HAKKIMIZDA</h4>
                    <p>
                        GüçlüGelecek.net, depremzelerin bu zorlu süreçte hayatlarını yeniden kurabilmeleri için bir destek kaynağı olmayı hedeflemektedir.
                        Amacımız, bu insanlara yeni iş fırsatları sunarak ve onları topluma entegre ederek geleceklerini yeniden inşa etmelerine yardımcı olmaktır.
                        Bu platformda, depremzeler için işverenlerin sunduğu çeşitli iş ilanlarını bulabileceksiniz. Sizlere, yeteneklerinizi ve deneyimlerinizi
                        en iyi şekilde kullanabileceğiniz iş fırsatları sunmak için işverenlerle sürekli olarak iletişim halindeyiz.
                        Ayrıca, kariyer gelişimi, iş arama becerileri ve psikolojik destek gibi konularda size rehberlik etmek için uzmanlarımız da burada bulunmaktadır.
                        Bu iş başvuru sitesini oluşturma nedenim, insanların depremlerden etkilenen bölgelerde yaşamlarını yeniden kurmalarına yardımcı olmak, umutlarını 
                        ve güçlerini geri kazandırmaktır. Çünkü inanıyorum ki, her insanın çalışma hakkı vardır ve iş, yeniden başlama ve toparlanma sürecinde önemli bir rol oynar.
                        Depremlerden etkilenen insanların potansiyelini görmek, onlara fırsatlar sunmak ve birlikte güçlü bir gelecek inşa etmek için sizin gibi 
                        işverenlerin de desteğini bekliyoruz.
                        Bir iş başvuru sitesi olarak, depremzeleri topluma kazandırmayı, umutlarına umut olmayı hedefliyoruz.
                        Bu sürecte bizlere yardımcı olmayı unutmayınız, 
                        sadece bir tane <strong>Türkiye </strong>vardır bundan dolayı Geleceğimize yatırım yapmalıyız.
                    </p>
                </div>

                <div class="sidebar col-lg-6">
                    <div class="img"><img style="height:500px" src="~/JobApplicationTemplate/img/teamwork.png"></div>
                </div>
            </div>
        </div>
    </div>
</main>
