@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<main>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="all-posts">

                        <div class="post-item">
                            <div class="post-img"><img src="~/JobApplicationTemplate/img/post-1.png" alt=""></div>
                            <div class="post-main-info">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum beatae pariatur sequi vitae quia velit? Facere maxime delectus cum voluptas unde accusantium rerum ullam rem asperiores. Alias, omnis quidem....</p>
                                <a href="#" class="main-btn">Read More</a>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-img"><img src="~/JobApplicationTemplate/img/post-2.png" alt=""></div>
                            <div class="post-main-info">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum beatae pariatur sequi vitae quia velit? Facere maxime delectus cum voluptas unde accusantium rerum ullam rem asperiores. Alias, omnis quidem....</p>
                                <a href="#" class="main-btn">Read More</a>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-img"><img src="~/JobApplicationTemplate/img/post-3.png" alt=""></div>
                            <div class="post-main-info">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum beatae pariatur sequi vitae quia velit? Facere maxime delectus cum voluptas unde accusantium rerum ullam rem asperiores. Alias, omnis quidem....</p>
                                <a href="#" class="main-btn">Read More</a>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-img"><img src="~/JobApplicationTemplate/img/post-1.png" alt=""></div>
                            <div class="post-main-info">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum beatae pariatur sequi vitae quia velit? Facere maxime delectus cum voluptas unde accusantium rerum ullam rem asperiores. Alias, omnis quidem....</p>
                                <a href="#" class="main-btn">Read More</a>
                            </div>
                        </div>

                        <div class="post-item">
                            <div class="post-img"><img src="~/JobApplicationTemplate/img/post-2.png" alt=""></div>
                            <div class="post-main-info">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                                <div class="post-meta">
                                    <span><i class="far fa-user"></i> Posted by someone</span><span><i class="far fa-calendar"></i> 30 07 2021</span><span><i class="far fa-comment-alt"></i> 0 comments</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum beatae pariatur sequi vitae quia velit? Facere maxime delectus cum voluptas unde accusantium rerum ullam rem asperiores. Alias, omnis quidem....</p>
                                <a href="#" class="main-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>

